<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px thin black;
}
</style>
</head>

<div  style="border-style: thin; border-width: bold;border-color: #c20f27;">
  <h4>Get All ZTC Config</h4>
  <table *ngIf="records" align="center" class="table" height="100%px">
      <tr>       
        <th (click)="sort('BEPID')" class="table">BEPID
            <span class="glyphicon sort-icon" *ngIf="key =='BEPID'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th (click)="sort('TVSSID')">TVSSID</th>
        <th (click)="sort('hardwareVersion')">HardwareVersion</th>
        <th (click)="sort('serialNumber')">SerialNumber
            <span class="glyphicon sort-icon" *ngIf="key =='serialNumber'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
      </tr>
      <tr><br></tr>
      <tr *ngFor="let record of records | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p };">       
        <td>{{record.BEPID}}</td>
        <td>{{record.TVSSID}}</td>
        <td>{{record.hardwareVersion}}</td>
        <td>{{record.serialNumber}}</td>   
      </tr>
  </table>
  <div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>  
  <hr>
</div>
