<h1>{{ header }}</h1>
<table>
                <tr>
                                <td>First Name</td>
                                <td><input type="text" name=""></td>
                </tr>
                <tr>
                                <td>Last Name</td>
                                <td><input type="text" name=""></td>
                </tr>
                <tr>
                                <td>DOB</td>
                                <td>AAAAAAAAAA</td>
                </tr>
                <tr>
                                <td>Gender</td>
                                <td><select name="gender">
                                                <option value="Male" selected>Male</option>
                                                <option value="Female">Female</option>
                                </select>
                                </td>
                </tr>
                <tr>
                                <td>Matirial Status</td>
                                <td> <input type="radio" name="Single"> Single <input type="radio" name="Married">  Married : </td>
                </tr>
                <tr>
                                <td>Email</td>
                                <td><input type="text" name="" ></td>
                </tr>
                <tr>
                                <td>Password</td>
                                <td><input type="password" name=""></td>
                </tr>
                <tr>
                                <td>Phone No</td>
                                <td><input type="text" name=""></td>
                </tr>
                <tr>
                                <td>Adrress</td>
                                <td><textarea name="" rows="8" cols="20"></textarea></td>
                </tr>
</table>
<br>
<table>

<tr>
                <td><input type="submit" value="Submit"> &nbsp;&nbsp;<input type="reset" value="Cancel">
</tr>

</table>
