<div>
  <p style="text-align: left;color:#c20f27">
    Welcome Page {{username }}
  </p>

  <p style="text-align: right;color:#c20f27">
      <a [routerLink] ="['/app-login']">Logout</a>
   </p>
</div>

<div>
   <hr>
</div>

<div class="left">
  <a routerLink="#"  (click)="AddZTCConfigView()">Add ZTC Config</a> &nbsp; | &nbsp; 
  <a routerLink ="#" (click)="getZTCConfigView()">Get ZTC Config</a> &nbsp; | &nbsp;  
  <a routerLink ="#" (click)="searchZTCConfigView()">Search ZTC Config</a>&nbsp; | &nbsp;
  <a routerLink ="#" (click)="updateMACRepairConfigView()">Update MAC Repair Config</a> &nbsp; | &nbsp;
  <a routerLink ="#" (click)="deleteZTCConfigView()">STB Override Entry</a>
<div>

<hr>

<div>
    <div class="open-card-BG" *ngIf="addZTCView">
         <app-addztc></app-addztc>
    </div>
    <div class="open-card-BG" *ngIf="getZTCView">
       <app-getztcdetail></app-getztcdetail>
    </div>
    <div class="open-card-BG" *ngIf="searchZTCView">
         <app-searchztcdetail></app-searchztcdetail>
     </div>
     <div class="open-card-BG" *ngIf="updateZTCView">
        <p> Update ZTC Config </p>
     </div>
     <div class="open-card-BG" *ngIf="deleteZTCView">
        <app-stbztcoverride></app-stbztcoverride>
     </div>
</div>






